.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Breadcrumbs-height{
  height: 25px;
}
.rem-12{
  width: 12rem; 
}

.white-shadow {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  text-align: center;
}

.button:after {
  content: "";
  background: #FFFAFA;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

@media (min-width: 576px) and (max-width:992px) {  
  .cardMobile {flex-direction: column;}
}

@media (min-width: 992px)  { 
  .cardMobile {flex-direction: row;}
 }